services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        user: hital
        uid: 1000
    image: parser-produtos-app
    container_name: parser-produtos-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - parser-network
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: parser-produtos-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    networks:
      - parser-network
    depends_on:
      - app

  db:
    image: postgres:16-alpine
    container_name: parser-produtos-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE:-fitness_foods}
      POSTGRES_USER: ${DB_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - parser-network

  redis:
    image: redis:7-alpine
    container_name: parser-produtos-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - parser-network

networks:
  parser-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
